@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #141414;
    color: azure;
    gap: 100px;
}

body h2{
    margin-bottom: 20px;
}


/* STYLE INPUT 1 CSS */
.input1 {
    width: 300px;
    height: 50px;
    outline: none;
    background: transparent;
    border: 2px solid #09ff00;
    border-radius: 5px;
    padding: 0 15px;
    box-shadow: 0 0 10px #09ff00, inset 0 0 10px #09ff00;
    color: #09ff00; 
}


/* STYLE INPUT 2 CSS */
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-group2{
    position: relative;
}

.input2{
    border: solid 2px #ff0057;
    border-radius: 5px;
    background: none;
    width: 300px;
    padding: 1rem;
    font-size: 1rem;
    color: #ffc6c6;
    transform: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label{
    position: absolute;
    left: 15px;
    color: #858383;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input2:focus, .input2:valid{
    outline: none;
    border: 2px solid #ff0057;
}

.input2:focus ~ label, .input2:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background: #141414;
    padding: 0 .2em;
    color: #ffc6c6;
}