@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #202735;
}

.input-box{
    position: relative;
    width: 280px;
    margin: 20px 0;
}

.input-box label{
    position: absolute;
    color: #bdbdbd;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    /* color: rgba(255, 255, 255, .3); */
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-box label::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: transparent;
    border-left: 1.8px solid #ff0062;
    border-bottom: 1.8px solid #ff0062;
    transform: rotate(45deg);
    opacity: 0;
    transition: .5s;
}

.input-box label::after{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background: transparent;
    border-right: 1.8px solid #ff0062;
    border-top: 1.8px solid #ff0062;
    transform: rotate(45deg);
    opacity: 0;
    transition: .5s;
}

.input-box input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1.8px solid rgba(255, 255, 255, 0.3);
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: 0;
    left: 10px;
    font-size: 11px;
    background: #202735;
    color: #ff0062;
    padding: 0 12px;
}

.input-box input:focus~label::before,
.input-box input:valid~label::before,
.input-box input:focus~label::after,
.input-box input:valid~label::after{
    top: 2.5px;
    opacity: 1;
}

.input-box input:focus,
.input-box input:valid{
    border: 1.8px solid #ff0062;
}