*{
    padding: 0;
    margin: 0;
}

body{
    
    background-color: rgb(63, 63, 63);
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: transparent;
    font-size: 230px;
    text-transform: uppercase;
    -webkit-text-stroke: 5px rgb(5, 148, 192);
}